<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FDA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FDA.Properties.Settings>
            <setting name="DB_SERVER_NAME" serializeAs="String">
                <value>HR\EXPRESS</value>
            </setting>
            <setting name="DB_NAME" serializeAs="String">
                <value>MYP</value>
            </setting>
            <setting name="DB_ID" serializeAs="String">
                <value>SA</value>
            </setting>
            <setting name="DB_PW" serializeAs="String">
                <value>Myp53750804</value>
            </setting>
            <setting name="IsOpenMypSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DataUpdateTick" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DataUpdateMorning" serializeAs="String">
                <value>05/20/2019 10:30:00</value>
            </setting>
            <setting name="DataUpdateAfternoon" serializeAs="String">
                <value>05/20/2019 19:30:00</value>
            </setting>
            <setting name="MonitorFingerPrint" serializeAs="String">
                <value>False</value>
            </setting>
        </FDA.Properties.Settings>
    </userSettings>
</configuration>